.wrapper {
    align-items: center;
    height: 100vh;
    font-family: monospace;
    padding: 24px;

    backdrop-filter: blur(100px);
    overflow: hidden;
}

.main {
    display: flex;
    height: 55vh;
    width: 90%;
}