.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 15px;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    padding: 40px;

    background-color: rgb(135, 152, 170);
}

.main {
    display: flex;
    height: 55vh;
    width: 90%;
}