.weather-info svg {
    color: #222222;
}

.weather-info {
    height: 90vh;
    color: #fff;
    display: grid;
    grid-template-columns: minmax(710px, 775px) 1fr;
    grid-template-rows: 23vh 36vh 1fr;
    grid-gap: 15px;
    height: 90vh;
}

.info-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background: #ffffff52;
    border-radius: 14px;
    padding: 22px;
}

.ic-right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}


.main-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 12px;
}

.main-info p {
    margin: 0;
    margin-right: 20px;
}

.phenomen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optional-info {
    display: grid;
    grid-gap: 15px;

    font-size: 18px;
    overflow: hidden;
}

.opt-left-side {
    grid-template-columns: 3fr 2fr;
}

.optional-info-content {
    display: flex;
    width: 100%;
    align-items: center;
}

.optional-info-element span {
    padding-left: 40px;
    color: #303030;
}

.day-forecast-selector {
    display: flex;
    overflow-x: scroll;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.day-forecast-selector::-webkit-scrollbar {
    width: 20px;
}

.day-forecast-selector::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 50px;
}

.day-forecast-selector::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.day-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 24%;
    min-width: 12%;
    padding: 14px;
    margin-right: 15px;
    border-radius: 14px;

    background-color: #93939385;
}

.day-card:last-child {
    margin-right: 0;
}

.day-card img {
    width: 50%;
}

.day-card p {
    margin: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.day-card-temp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 26px;
}

.day-card-temp p {
    margin: 0;
}

.selector_button {
    position: absolute;
}

.map-container {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 15px;
    overflow: hidden;
}