.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-container{
    position: relative;
    top: 50%;
    width: 100%;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: solid 3px #979797;
    font-size: 24px;
    font-weight: lighter;
    outline: none;
    color: #fff;
}

input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px #979797 inset !important;
  }

.input-container input:focus {
    border-color: #fff;
}

input::-webkit-input-placeholder {
    color: #666666;
}

input::-moz-placeholder {
    color: #666666;
}

.input-container button {
    width: 20%;
    min-width: max-content;
    border: 3px solid #979797;
    padding: 4px 20px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    outline: none !important;   
}

.input-container button:hover {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: black;
}

.input-container button:active {
    position: relative;
    top: 2px;
}

.slideUp {
    position: relative;
    top: 0%;
    animation: slideUp 1.5s;
}

@keyframes slideUp {
    0% {
        top: 50%;
    }
    100% {
        top: 0%;
    }
}