.info-container {
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    padding: 20px;
    height: 90vh;

    color: white;
    border-radius: 14px;
    background-color: #262626;
    font-size: 28px;
}

.info-container input {
    width: 100%;
    font-size: 24px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 3px #113a65;
    padding-bottom: 4px;
    font-weight: lighter;
    margin-right: 20px;
    outline: none;
}

.info-container input:focus {
    border-color: #185aa0;
}

input::-webkit-input-placeholder {
    color: #103a65;
}

input::-moz-placeholder {
    color: #103a65;
}

button {
    border: 2px solid #103a65;
    border-bottom: 4px solid #103a65;
    padding: 4px 20px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #235d9c;
    color: #fff;
    outline: none !important;
}

button:hover {
    border-bottom: 2px solid #103a65;
    position: relative;
    top: 2px;
}

button:active {
    border-bottom: 2px solid transparent;
    border-color: transparent;
    position: relative;
    top: 2px;
}

.info-container button {
    width: 100%;
    font-size: 18px;
}