.weather-container {
    display: flex;
    flex-direction: column;
    color: #fff;

    background-color: #2a6bb1;
}

.info-card {
    min-height: 140px;
    height: min-content;
    background: #3a3a3a;
}

.info-card:nth-of-type(3n) {
    /* grid-row: span 2;  */
}

.main-info-container {
    display: flex;
}

.main-info {
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 1px;
}

.main-info:last-child {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
}

.main-info p {
    margin: 0;
    margin-right: 20px;
}

.optional-info {
    display: flex;
    font-size: 26px;
    margin-top: 4px;

    /* column-count: auto;
    column-gap: 4px; */

    display: grid;
    grid-gap: 4px;
    overflow: hidden;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
}

.optional-info-content {
    display: flex;
    width: max-content;
    height: 67px;
    border-radius: 1px;
    padding: 14px;
    align-items: center;
}

.optional-info-content p {
    margin: 0;
    margin-left: 20px;
}