.weather-container {
    display: flex;
    flex-direction: column;
    color: #fff;

    padding: 20px 20px;
    background-color: #2a6bb1;
}

.temperature-info {
    display: flex;
    justify-content: space-around;
}

.optional-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 16vh;
    font-size: 26px;
}

.optional-info-child {
    display: flex;
}

.optional-info-child p {
    margin-left: 20px;
}