.App {
  background-image: url(./components/assets/img/main_background.jpg);

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}